.article{
  padding: 0  map-get($map: var.$margins, $key: 6 );
}
.pageBtnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: map-get($map: var.$margins, $key: 6 ) 0;
}
.titleHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: map-get($map: var.$margins, $key: 2 ) map-get($map: var.$margins, $key: 6 );
}
.blog {
  header {
    width: 100%;
    height: 20vh;
    background-color: #1e3a5c;
    display: flex;
    justify-content: space-between;

    .titre {
      color: var.$white;
      margin-left: 60px;
      margin-top: 60px;
    }
  }

  .body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
    padding-left: 1vw;
    



    
    
  }
}



@media screen and (max-width: 440px) {


  .titleHeader {
    flex-direction: column;
    align-items: center;

    & > * {
      margin-bottom: map-get($map: var.$margins, $key: 6 );
    }
  }

    .article{
      padding: 0  map-get($map: var.$margins, $key: 3 );
    }

    .blog {

      header {
        height: 85vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          padding-right: 60px;
        }

      }

      .body {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

      }
    

    }

    
}