# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:password@localhost:3306/earlystay_test"

ALLOW_START_CRON=true
PROMISE_MAX_CONCURRENCE=20

CETO_FTP=ftp
CETO_FTP_DIR="/ceto"
CETO_FTP_USER=username
CETO_FTP_PASS=password

XFT_FTP=ftp
XFT_FTP_DIR="/"
XFT_FTP_USER=username
XFT_FTP_PASS=pass

DATA_DIR=public/data