# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:password@localhost:3306/earlystay_test"

PROMISE_MAX_CONCURRENCE=20

CETO_FTP=ftp.ceto
CETO_FTP_USER=username
CETO_FTP_PASS=password

XFT_FTP=ftp.xft
XFT_FTP_USER=userrame
XFT_FTP_PASS=pass