.contenu {
    width: 90vw;
    height: 24vw;
    display: flex;
    justify-self: center;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 40px;

    .header_contenu {
        h2{
            font-size: var.$h2-size;
            color: var.$secondary-orange;
        }

        .liner {
            background-color: var.$secondary-orange;
            width: 9vw;
            height: 0.1vw;
        }
    }


    .texte {
        padding-top:20px;
        
        p {
            padding-top: 50px;
        }
    }

}




@media screen and (max-width: 440px) {
        .contenu {
            height: 500vw;
            
            .header_contenu {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h2 {
                    font-size: var.$important-size;
                }
            }

            .texte {
                p {
                    font-size: var.$text-size;
                    text-align: center;
                }
            }
        }
}