.title {
    font-family: var.$poppins;
    font-size: var.$h1-size;
    color: var.$secondary-orange;
    text-align: center;
    padding: 20px;
}

.buttonfaq{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 60%;
    text-align: center;
}

.text {
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}