.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var.$white;
}
.label{
    padding: map-get($map: var.$margins, $key: 1 ) 0;
    font-size: var.$important-size;
}
