.subTitle {
    display: inline-flex;
    flex-direction: column;
    font-size: var.$h2-size;

    &::after {
        display: block;
        content: "";
        width: 60%;
        height: 3px;
        background-color: red;
    }
}