.article_header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

    .blockimg {
      width: 45%;

     img {
         width: 36vw;
         height: auto;
     }

  }

  .contenu {
      width: 45%;

      h2 {
          float: left;
          font-size: var.$h2-size;
      }

      .texte {
          display: flex;
          justify-content: center;
          width: 100%;
          padding-top: 110px;
          font-size: var.$text-size;
      }

      .footer_article {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding-top: 100px;

        a {
            width: 185px;
            height: 37px;
            background-color: var.$primary-orange;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var.$white;
            font-size: var.$important-size;
        }

      }


  }


}


/*responsive format Mobile */

@media screen and (max-width: 440px) {
    .article_header {
        display: flex;
        align-items: center;
        flex-direction: column;

        .blockimg {
            display: flex;
            align-items: center;
            justify-content: center;
            .image {
                width: 90vw;
                height: 60vw;
            }
          
        }

        .contenu {
            display: flex;
            align-items: center;
            flex-direction: column;

            h2 {
                padding-top: 20px;
            }


            .texte {
                width: 100vw;
                text-align: center;
            }

            .footer_article {
                width: 95vw;
                padding-bottom: 90px;
            }
            
        }
       
 
}
}