.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: map-get($map: var.$margins, $key: 1 );

    input {
        border: none;
    }

 
    
    border: solid;

  
}



// @media screen and (max-width: 440px) {
//     .search {
//         width: 55vw;
//         height: 14vw;
//     }
// }


