.search {

    margin-bottom: 50px;

    input {
        border: none;
    }

    svg {
        float: right;
        
    }

    width: 244px;
    height: 40px;
    border: solid;
    margin-right: 60px;
  
}


