.search {

    margin-bottom: 5vw;

    input {
        border: none;
    }

    svg {
        float: right;
        
    }

    width: 13vw;
    height:  2vw;
    border: solid;
    margin-right: 2vw;
  
}



@media screen and (max-width: 440px) {
    .search {
        width: 55vw;
        height: 14vw;
    }
}


