.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var.$important-size;
    position: relative;
}

.wrapper {
    border: 2px solid var.$white;
    display: inline-block;
    padding: map-get(var.$margins, 1) map-get(var.$margins, 15);
    width: 100%;
    background: none;
    color: var.$white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1em;
    &:focus {
        outline: none;
    }
}

.clock {
    position: absolute;
    right: 5%;
}
.labelWrapper { 
    font-size: inherit;
}
.pickerWrapper{
    z-index: 50;
    background-color: var.$white;
    position: absolute;
    top: 100%;
    width: 100%;

    & > * {
        width: 100%;
    }
}

// THEMES 

.themeBlack {
    .wrapper  {
        border-color: var.$black;
        color: var.$black;
    }

    .pickerWrapper {
        border-bottom: 2px solid var.$black;
        border-left: 2px solid var.$black;
        border-right: 2px solid var.$black;
    }

    .clock {
       path {
           fill: var.$black;
       } 
    }
}

@media screen and (max-width:1024px){
    .wrapper{
    padding:0.2rem 3rem;
    }
}