@use "sass:map";

//margin
$XXl-margin: 4.8rem;
$XL-margin: 4rem;
$L-margin: 3.2rem;
$M-margin: 2.4rem;
$S-margin: 1.6rem;
$XS-margin: 0.6rem;
<<<<<<< HEAD
=======

//map margins

$step: 0.5;
$margins: ();

@for $i from 1 through 15 {
    $value : ($step  * $i) + rem;
    $margins : map.set($margins, $i,  $value);
}
>>>>>>> 3ef00e68a14d15d9703387c59e8bac8bbfa9a64c
