//title

<<<<<<< HEAD
$h1-size: 4.8rem;
$h2-size: 3.2rem;
$h3-size: 2.4rem;
$p-size: 1.6rem;
=======
$h1-size: 2.5rem;
$h2-size: 2.1rem;
$h3-size: 1.7rem;
$important-size: 1.3rem;
$text-size: 1rem;
>>>>>>> 3ef00e68a14d15d9703387c59e8bac8bbfa9a64c
