.borderLessInput{
    border-top:none;
    border-left: none;
    border-right: none;
    padding: 8px;
    border-color: var.$primary-blue;
    color: var.$primary-blue;
    
}


.inputText{
    border-radius: 30px;
}
