.container {
    display: flex;
}

.circleButton {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var.$grey;
    border: none;
    margin: 0 map-get($map: var.$margins, $key: 2 );
    transition: .4s;
    cursor: pointer;

    &:hover {
        background-color: var.$primary-blue;
    }
}