.section {

    display: flex;
    justify-content: center;
    color: var.$white;
    padding: 20px;

    .article {
        width: 100%;
        height: 255px;
        background: var.$secondary-gradient;
        border-radius: 11px;
        margin: 20px;

        .img {
            width: 392.91px;
            height: 255px;
            position: absolute;
            border-radius: 11px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-top: 20px;  
            
        
            h1 {
                padding-left: 500px;
            }

            .date {
                padding-right: 120px;
            }

        }

        .description {
            width: 830.46px;
            margin-left: 450px;
            margin-top: 35px;
        }

        .footer {
            width: 320px;
            float: right;
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            margin-right: 60px;
            

            a {
                color: var.$white;
            }
        }


    }

}


@media screen and (max-width: 440px)
{


    .section {
      
        .article {
            display: flex;
            flex-direction: column;
            width: 110vh;
            height: 657px;
            
            div {

                .img {
                    width: 895px;
                    height: 239px;
                }
            }


            .header {
                padding-top: 250px;            
                flex-flow: column;
            }

            .description {
                text-align: center;
                

            }

        }

    }
}
