.container {
    position: relative;
    font-size: var.$important-size;
}

.button {
    border: 2px solid var.$white;
    background: none;
    color: var.$white;
    padding: map-get(var.$margins, 1) map-get(var.$margins, 15);
    font-size: 1em;
    position: relative;
    @include mix.flex-center-all;
    cursor: pointer;
    width: 100%;

    &:focus {
        outline: none;
    }

    &:hover .arrow path {
        fill: var.$white;
    }
}

.arrow {
    position: absolute;
    right: 5%;

    path {
       transition: 5s; 
    }
}

.arrowSelected {
    path {
        fill: var.$white;
    }
}

.containerOptions {
    z-index: 50;
    position: absolute;
    width: 100%;
    list-style: none;
    color: var.$white;
    max-height: 30vh;
    overflow-y: scroll;
    z-index: 50;
}
.option {
    display: flex;
    justify-content: center;
    padding: map-get( var.$margins , 1  ) 0;
    background-color: rgba($color: var.$white, $alpha: 0.9);
    color: var.$primary-blue;
    border: 2px solid rgba($color: var.$white, $alpha: 0.9);

    &:hover {
        background-color: rgba($color: var.$white, $alpha: 0.2);
        cursor: pointer;
    }
}


// THEMES

.themeBlack {

    .button {
        border-color: var.$black;
        color: var.$black;

        &:hover .arrow path {
            fill: var.$black;
        }
    }

    .arrow {
        path {
            stroke: var.$black;
        }
    }

    .arrowSelected {
        path {
            fill: var.$black;
        }
    }

    .containerOptions {
        border-bottom: 2px solid var.$black;
        border-left: 2px solid var.$black;
        border-right: 2px solid var.$black;
    }

    .option {
        background-color: rgba($color: var.$white, $alpha: 1);

        &:hover:first-child{
           
            border-bottom: 2px solid var.$black;
            cursor: pointer;
        }

        &:hover:not(:first-child){
           
            border-top: 2px solid var.$black;
            border-bottom: 2px solid var.$black;
            cursor: pointer;
        }
    }
}

.themeDisable {
    

    .button {
        opacity: .5;
        cursor: not-allowed;

        &:hover .arrow path {
            fill: none;
        }
    }

    
}