.nav {
    display:flex;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   
    
}

.link:first-of-type{
    padding-top: 100px;
}

.link{
    padding: 10px;
    text-decoration: none;
    color: #3668A4;
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    margin-top: 40px;
}

.destination {
    border: none;
    color: white;
    padding: 5px;
    background-color:var.$secondary-orange ;
    margin-right: 20px;
}

.navRight{
    display: flex;
    align-items: center;
}
.svg {
    margin-right: 20px;
}
.croix{
    display: none;
    transition: 0.2s;
}


.container {
    position: fixed;
    width: 100%;
    z-index: 50;
    
}

.containerLinks{
   display: flex;
   justify-content: flex-end;
   height: 100vh;
}


.links{
    background-color: white;
    width: fit-content;
    text-align: center;
    transition: 0.2s;
    padding: 50px;
}

.socialLogo{
    
    margin: 7px;
    margin-top: 100px;
}
.logoFinal{
    width: 50px;
}


@media screen and (max-width:1024px) {
    .links{
        background-color: rgb(255, 255, 255);
        width: 100%;
        text-align: center;
        transition: 0.2s;
    }
    
}
