.nav {
    display:flex;
    justify-content: space-between;
    background-color: white;
}

.links {
    
}

.logo {
    padding: 10px;
}

.link{
    padding: 10px;
    text-decoration: none;
    color: #3668A4;
}


