.container {
    background-color: var.$white;
    padding: map-get($map: var.$margins, $key: 5);
}

.title {
    font-size: var.$h2-size;
    text-align: center;
    padding-bottom: map-get($map: var.$margins, $key: 5 );
}

.secondTitle {
    font-weight: normal;
    font-size: var.$important-size;
}

.imgWrapper {
    width: 100%;
    height: 15vw;
    min-height: 20vh;
    overflow: hidden;
    @include mix.flex-center-all
}

.img {
    width: 100%;
}

.priceWrapper {
    padding: map-get($map: var.$margins, $key: 1 ) 0;
}

.sliderContainer {

}

.slidePointWrapper {
    display: flex;
    justify-content: center;
    padding: map-get($map: var.$margins, $key: 3 ) 0; 
}
.slidePoint {
    width: 20px;
    height: 20px;
    background-color: var.$grey ;
    border-radius: 100%;
    border: none;
    margin: 0 map-get($map: var.$margins, $key: 1);
    transition: .5s;
    cursor: pointer;

    &:hover {
        background-color: var.$secondary-orange;
    }
}

.slidePointSelected {
    background-color: var.$secondary-orange;
}

.ctaButtonWrapper {
    margin-top: map-get($map: var.$margins, $key: 4);
}