.container {
    display: flex;
    justify-content: space-around;
    background-color: var.$primary-blue;
    padding: map-get($map: var.$margins, $key: 10);
    border: 5px solid var.$secondary-orange;
}
.trustItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var.$white;
}
.imgWrapper {
    background-color: var.$secondary-orange;
    width: 70px;
    height: 70px;
    @include mix.flex-center-all;
    border-radius: 100%;
    padding: map-get($map: var.$margins, $key: 2 );
    box-sizing: content-box;
}

.img {
    width: 80%;
}

.label {
    padding: map-get($map: var.$margins, $key: 3 ) 0;
}

@media screen and (max-width: 800px) {
    .imgWrapper {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .trustItem {
        margin: map-get($map: var.$margins, $key: 3 ) 0;
    }
}