@import '../../../styles/variables/index.scss';

.create {
        background-color: var.$secondary-orange;
        width:  14vw;
        height: 46px;
        margin-top: 60px;
        margin-right: 6vw;
        text-align: center;

    a {
        color: $white;
        font-weight: 600;
        font-size: 24px;
        text-decoration: none;
        
    }

}


@media screen and (max-width: 440px) {
   .create {
       height: 12vw;
       width: 55%;
       margin-left: 20px;
       display: flex;
       align-items: center;
       justify-content: center;
       
    a {
        font-size: var.$important-size;
    }

   }
}
